body {
  background-color: black;
  margin:	auto;
  width:	500px;
}

.container {
	width:	500px;
}



.yellow {
  background-color: yellow;
  height: 100px;
  width: 100px;
  float: right;
}

.red {
  background-color: red;
  height: 100px;
  width: 100px;
  float: right;
}

div {
  height:100px;
  width: 100px;
  background-color: blue;
  float: right;
}/* CURRENTLY IN: styles/main.css */