/* CURRENTLY IN: styles/main.css */
body {
	background: url(background.jpg);
	background-repeat:	no-repeat;
	background-size:  cover;
	background-position: static;
	color: white;
	font-size: 50px;
	font-family: "Terminal Dosis", sans-serif;
	text-shadow: 
		1px 1px 0 transparent,
		2px 2px 0 #101010;
	overflow: hidden;
}


.wrapper div {
	position: absolute;
}

.one { 
	width: 1009px;
	text-align: center;
	font-weight: bold;
	background: url(one.png);
	background-repeat: no-repeat;
	height:		1130px;	
	top:		200px;

}

.two {
	top: 1230px;
	left: -400px;
	width: 1784px;
	height: 1282px;
	text-align: center;
	padding-top: 750px;
	background: url(two.png);
	background-repeat: no-repeat;
}

.three {
	top: 2000px;
	left: 5000px;
	width: 2000px;
	height:	300px;
	background: url(three.png);
	background-repeat: no-repeat;
}

.four {
	top: 1500px;
	left: 5000px;
	width: 400px;
}

.five {
	left: 2185px;
	top: 660px;
	width: 460px;
	transform: rotate(-90deg) translateY(2.5em);
}

.five .upside-down {
	font-size: 42px;
	text-align: right;
	transform: rotate(180deg) translateY(3em);
}