/* CURRENTLY IN: styles/main.css */
body {
	background: url(background.jpg);
	background-repeat:	no-repeat;
	background-size:  cover;
	background-position: static;
	color: white;
	font-size: 20px;
	font-family: "Terminal Dosis", sans-serif;
	text-shadow: 
		1px 1px 0 transparent,
		2px 2px 0 #101010;
	overflow: hidden;
}


.wrapper div {
	position: absolute;
}

.one { 
	width: 1364px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	padding-top: 500px;
	background: url(one.png);
	height:		1528px;

}

.two {
	top: 740px;
	left: 180px;
	width: 440px;
}

.three {
	top: 1510px;
	left: 430px;
	width: 400px;
}

.four {
	top: 1540px;
	left: 1600px;
	width: 400px;
}

.five {
	left: 2185px;
	top: 660px;
	width: 460px;
	transform: rotate(-90deg) translateY(2.5em);
}

.five .upside-down {
	font-size: 42px;
	text-align: right;
	transform: rotate(180deg) translateY(3em);
}