/* CURRENTLY IN: styles/main.css */



.controlArrow.next {
	border-color: transparent transparent transparent #000;
	display: none;
}

.controlArrow.prev {
	border-color: transparent #000 transparent transparent;
	color:			rgba(255, 255, 255, 0.00);
	display: 		none;
}
.container {
-webkit-background-size: cover;
-moz-background-size: 	cover;
-o-background-size: 	cover;
background-size: 		cover;
position:				relative;
width:					100%;
height:					100%;
margin:					auto;
}

body {
	background-image:		url(background.jpg);

}



.title {
	border-radius: 		1px;
	font-size: 			50px;
	margin:				auto;
	background-image:	url(name.png);
	background-size:	100%;
	height:				150px;
	width:				500px;
}

.webDesign {
	background-image:	url(webDesign.png);
	background-size:	100%;
	height:				70px;
	width:				200px;
	margin-right:		50px;
}

.about {
	background-image:	url(about.png);
	background-size:	100%;
	height:				70px;
	width:				200px;
	float:				left;
	margin-left:		210px;
	margin-top:			230px;
	border:				2px solid black;ddddddd
}

.contact {
	background-image:	url(contact.png);
	background-size:	100%;
	height:				70px;
	width:				220px;
	margin-left:		400px;
	margin-top:			450px;
	border:				2px solid black;
}

.previousWork {
	background-image:	url(previousWork.png);
	background-size:	100%;
	height:				90px;
	width:				350px;
	float:				right;
	margin-top:			-200px;
	margin-right:		210px;
	border:				2px solid black;
}

.top {
	width: 				100%;
	overflow: 			hidden;
	top:				0px;
	position:			fixed;
	padding-left:		50px;
	padding-right:		50px;
	border-bottom-color: black;
	border-bottom:				2px solid;
}

 h1{
	float: 				left;
	padding: 			5px 30px;
	color: 				white;
	font-size: 			32px;
}

li {
	float: 				left;
	padding:			5px;
}

a { 
	color:				white;
	text-decoration:	none;
	font-family: 		sans-serif;
	-webkit-transition: color .25s linear;	
}
a:hover {
	text-decoration:	none;
	color:				gray;
}

p {
	font-family:		sans-serif;
}

ul {
	list-style-type: 	none;
}

nav {
	padding: 			16px 30px;
	float: 				right;
	font-size: 			20px;
	overflow: 			hidden;
}


.current a {
	color:				gray;
}

footer {
	color:				gray;
	height:				40px;
	width:				100%;
	bottom:				0px;
	position:			fixed;
	margin-left:		-15px;
}

.slide {
	width:			800px;
	height:			350px;
	margin:			auto;
	margin-bottom:	60px;
	margin-top:		-30px;
	background-color:	rgba(255, 255, 255, 0.00);
	color:			#11002B;
	overflow:		none;
}



/* CURRENTLY IN: styles/main.css */