/* CURRENTLY IN: styles/main.css */

body {
	background-size: 			100%;
	font-family: 'Raleway', sans-serif;
	width:						960px;
	margin:						auto;
	background-color:			white;
}

#container {
	background-color:			white;
}

#fullpage {
	width:					100%;
}

.section {
}

.me {
	background-image:	url(../pics/default.jpg);
	height:				320px;
	width:				320px;
	border-radius:		50%;
	margin:				auto;
	position:			fixed;
	top:				150px;
	text-align: 		center;
	right:				320px;
	left:				320px;
}

.look1 {
	background-image:	url(../pics/lookL.jpg);
}

.look2 {
	background-image:	url(../pics/lookR.jpg);
}

.look3 {
	background-color:	orange;
}

.me:hover {
	background-image:	url(../pics/smile.jpg);
}


.b1 {
	float:				left;
	margin-top:			50px;
	margin-left:		230px;

}

.b2 {
	float:				left;
	margin-top:			-50px;
	margin-left:		700px;
}

.b3 {
	float:				left;
	margin-top:			250px;
	margin-left:		350px;

}

.thought {
	height:				100px;
	width:				100px;
	background-color:	blue;
	float:				right;
	margin-left:		80%;
	margin-top:			100px;
	margin-right:		200px;
	position:			relative;
}

.thought {
    -webkit-animation:	 pulsate 2.5s alternate ease-in;
    -webkit-animation-iteration-count: infinite;
  	-moz-animation:	pulsate 2s alternate ease-in;
  	-moz-animation-iteration-count: infinite;
  	-o-animation:	pulsate 2s alternate ease-in;
  	-o-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.9, 0.9);}
    100% {-webkit-transform: scale(1.1, 1.1);}
}

.ball2 {
	width:				20px;
	height:				20px;
	border-radius:		50%;
	margin:			20px;
	background-color:	white;
	float:				left;
}

.ball1 {
	width:				40px;
	height:				40px;
	border-radius:		50%;
	background-color:	white;
	float:				left;
}

.ball3 {
	opacity:			.5;
	height:				70px;
	width:				70px;
	border-radius: 		50%;
	background-color: 	white;
	float:				right;
	-transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}

 .show {
 	opacity:			1;
}






#bubble {
	 background-image: url(../pics/cray.jpg);
	 height:					130px;
	 width:						130px;
	 border-radius: 			50%;
    -webkit-animation:	 pulsate 2.5s alternate ease-in;
    -webkit-animation-iteration-count: infinite;
  	-moz-animation:	pulsate 2s alternate ease-in;
  	-moz-animation-iteration-count: infinite;
  	-o-animation:	pulsate 2s alternate ease-in;
  	-o-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.9, 0.9);}
    100% {-webkit-transform: scale(1.1, 1.1);}
}

@-moz-keyframes pulsate {
	0% {-moz-transform: scale(0.7, 0.7);}
    50% {opacity: 1.0;}
    100% {-moz-transform: scale(1.2, 1.2);}
    0% {-moz-transform: scale(0.7, 0.7);}
}

@-o-keyframes pulsate {
	0% {-o-transform: scale(0.7, 0.7);}
    50% {opacity: 1.0;}
    100% {-o-transform: scale(1.2, 1.2);}
    0% {-o-transform: scale(0.7, 0.7);}	
}

/*h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	.intro p{
		color: #fff;
	}


	.section{
		text-align:center;
	}

*/

	
	#section0{
		background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
		background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
		background: linear-gradient(#4BBFC3,#7BAABE);
	}

	#section1{
		background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#4bbfc2)));
		background: -webkit-linear-gradient(#7baabe, #4bbfc2);
		background: linear-gradient(#7baabe),#4bbfc2);
	}


/*

	#slide1{
		background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#969ac6));
		background: -webkit-linear-gradient(#7BAABE, #969AC6);
		background: linear-gradient(#7BAABE,#969AC6);
	}
	#slide2{
		background: -webkit-gradient(linear, top left, bottom left, from(#92a1ca), to(#76c2bd));
		background: -webkit-linear-gradient(#92a1ca, #76c2bd);
		background: linear-gradient(#92a1ca,#76c2bd);
	}


	 */